BOT_TOKEN=your_telegram_bot_token_here
CHECK_INTERVAL_MINUTES=60
CITY_ID=c2deb16a-0330-4f05-921f-1d09c93331e6

DB_HOST=localhost
DB_PORT=5432
DB_NAME=tg_gold_apple
DB_USER=postgres
DB_PASSWORD=your_password_here
